<%= simple_form_for license do |form| %>
    <%= form.input :body, as: :text %>
    <% if current_user.admin? %>
        <h2>Eres administradora, puedes editar los siguientes datos:</h2>
        <%= form.input :name %>
        <%= form.input :icon %>
        <%= form.input :image_url %>
        <%= form.input :open %>
    <% end %>
    <%= form.submit %>
<% end %>