<div class="header">
  <div class="count"><%= licenses.size %></div>
  <%= title t('.title') %>
  <div class="description"><%= t('.description') %></div>
  <div class="actions">
    <%= link_to 'Añadir licencia', new_license_path if can? :create, License %>
    <%=  link_to 'Añadir documento', new_page_path(en: category) if category.present? %>
  </div>
</div>

<%= render category if category %>

<h2>Licencias en #bookcamping</h2>
<table class="licenses table">
  <% licenses.each do |license| %>
      <tr>
        <td><%= image_tag(license.icon) %></td>
        <td><%= link_to license.name, license %></td>
        <td class="actions"><%= link_to 'Editar', [:edit, license] if can? :edit, license %></td>
      </tr>
  <% end %>
</table>

