<div class="header">
  <div class="count"><%= license.references.count %> referencias</div>
  <%= title license.name %>
  <div class="actions">
    <%= link_to 'Volver', licenses_path, class: 'back' %>
    <%= link_to 'Editar información', [:edit, license.page] if license.page.present? and can?(:edit, license.page) %>
    <%= link_to 'Editar licencia', [:edit, license] if can? :edit, license %>
    <%= link_to 'Borrar', license, method: :delete, class: 'warning',
                confirm: "¿Borrar esta licencia?" if can?(:destroy, license) and license.references.count == 0 %>
  </div>
</div>

<%= div_for license do %>
    <%= image_tag(license.icon) if license.icon? %>
    <%= markdown license.page.body if license.page.present? %>
<% end %>

<h2>Últimas referencias con esta licencia</h2>
<%= render_references license.references.reorder('created_at DESC').limit(10), '#efefef' %>


