<%= simple_form_for [post] do |form| %>
    <%= form.input :title %>
    <%= form.input :author %>
    <%= form.input :visibility, include_blank: false,
                   collection: tc('post.visibilities', Post::VISIBILITIES) %>
    <%= form.input :published_at %>
    <%= form.input :content_type, collection: Post::CONTENT_TYPES, include_blank: false %>
    <%= form.input :body %>
    <div class="actions">
      <%= form.submit id: 'submit_post' %>
    </div>
<% end %>

<% content_for :sidebar do %>
    <%= render 'markdown' %>

    <h2>Imágenes disponibles:</h2>
    <ul>
      <% media_bites.each do |media| %>
          <li><%= link_to media.title, [media] %>: <%= media.inline_code %></li>
      <% end %>
    </ul>
<% end %>

<%= simple_debug post.errors.inspect %>
