<%= simple_form_for [post] do |form| %>
    <%= form.input :title %>
    <%= form.input :author %>
    <%= form.input :visibility, include_blank: false,
                   collection: tc('post.visibilities', Post::VISIBILITIES) %>
    <%= form.input :published_at %>
    <%= form.input :content_type, collection: Post::CONTENT_TYPES, include_blank: false %>
    <%= form.input :body %>
    <div class="actions">
      <%= form.submit id: 'submit_post' %>
    </div>
<% end %>

<% content_for :sidebar do %>
    <%= render 'markdown' %>
<% end %>

<%= simple_debug post.errors.inspect %>
