<div class="header">
  <%= title post.title %>
  <div class="author">Por <%= post.author %></div>
  <div class="actions">
    <%= link_to 'Editar entrada', [:edit, post] if can? :manage, post %>
    <%#= link_to 'Ver ficheros', media_bites_path if can? :view, MediaBite %>
  </div>
</div>

<%= render :partial => 'show' %>


<%= content_for(:sidebar) { render 'sidebar'} %>

<% if Rails.env.development? %>
  <%= post.title %><br>
  <%= post.published_at %><br>
  <%= post.title.parameterize %><br><br>
  <%= md2html(post.body) %><br>
<% end %>
