<div class="header">
  <%= title "Colaboradoras de '#{parent.name}'" %>
  <div class="actions">
    <%= link_to 'Volver', parent, class: 'back' %>
  </div>
</div>

<% if can? :manage, parent %>
  <h2>Añadir colaboradora</h2>
  <%= form_tag [:new, parent, :membership], method: :get do %>
    <label>Buscar colaboradora:</label>
    <%= text_field_tag :user_name, search.term %>
    <%= submit_tag 'Buscar', name: 'search_member' %>
  <% end %>
<% end %>

<h2>Quién participa</h2>
<table class="table">
  <% if parent.respond_to?(:user) && parent.user.present? %>
    <tr>
      <td><%= link_to_user parent.user %></td>
      <td>Inicia '<%= link_to parent.name %>'</td>
      <td></td>
    </tr>
  <% end %>
  <% if parent.group.present? && parent.group != true %>
    <% parent.group.members.each do |m| %>
      <tr>
        <td><%= link_to_user m %>
        <td>En el colectivo '<%= link_to parent.group.name, parent.group %>'</td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
  <% if parent.memberships.present? %>
    <% parent.memberships.each do |membership| %>
      <tr>
        <td><%= link_to_user membership.user %></td>
        <td>Colaboradora</td>
        <td class="actions">
          <%= link_to 'Quitar', [parent, membership], method: :delete,
            confirm: '¿Estás segura?' %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

