<%= title 'Últimas referencias' %>

<div class="pagination"> <%= paginate results %></div>

<table id="references">
  <thead>
          <tr>
            <td>&nbsp;</td>
            <td>Título</td>
            <td>Lic.</td>
            <td>Enlace</td>
          </tr>
  </thead>
  <tbody>
  <% results.each do |reference| %>
  <tr>
    <td class="timeago"><%= time_ago_in_words reference.updated_at %></td>
    <td><%= link_to reference.title.upcase, reference %></td>
    <td><%= image_tag(reference.license.icon) %></td>
    <td><%= truncate reference.url %></td>
  </tr>
  <% end %>
  </tbody>
</table>