<div class="actions">
  <%= link_to 'Volver', [:admin, :camp_shelves], class: 'back' %>
</div>


<%= simple_form_for [:admin, camp_shelf] do |form| %>
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :color, collection: Color.collection, include_blank: false,
                   input_html: {class: 'color-select'} %>
    <%= form.submit  %>
<% end %>