<% cache ['header', shelf] do %>
<div class="count" style="color: <%= shelf.color %>;">
  <%= shelf.references_count %> referencias
  <br/>
</div>
<h1><%= link_to shelf.name, shelf %></h1>
<div class="properties">
  Iniciada por <%= link_to shelf.user.name, shelf.user %>
  y gestionada por
  <% if shelf.group.present? %>
    <%= link_to shelf.group.name, shelf.group %> y
  <% end %>
  <%= link_to "#{shelf.memberships_count} más.", [shelf, :memberships] %>
</div>
<div class="description">
  <% if shelf.open? %>
    <%= t('.is_open') %>
  <% else %>
    <%= link_to t('.not_open'), [shelf, :memberships] %>
  <% end %>
</div>
<% end %>
