<%= div_for shelf, :class => 'list' do %>
    <div class="actions">
      <%= link_to "&larr; Volver".html_safe, browse_shelf_path(shelf), :class => 'back' %>
    </div>
    <h1><%= shelf.name %></h1>
    <div class="list_info">
      <%= shelf.books_count %> <%= current_camp.model_name %>s.
      Creada por <%= link_to_user shelf.user %>
      <span> hace <%= time_ago_in_words shelf.created_at %></span>
    </div>
    <div class="nav">
      <%= button_group do %>
          <%= add_button_link_to t('.add_book', :model => current_camp.model_name), new_shelf_book_path(shelf) if current_user %>
          <%= edit_button_link_to 'Modificar lista', edit_shelf_path(shelf) if can? :edit, shelf %>
          <%= danger_remove_button_link_to 'Borrar lista', shelf, :method => :delete,
                                           :confirm => "¿Borrar lista #{shelf.name}?" if shelf.books.size == 0 and can? :destroy, shelf %>
      <% end %>
    </div>
    <div class="order" style="display:none;">
      Mostrar en primero los: <%= link_to 'Recientes', '#' %> /
      <%= link_to 'Antigüos', '#' %> /
      <%= link_to 'Más valorados' %> /
      <%= link_to 'Más comentados' %>
    </div>

    <% if false %>
        <h3>OTRAS LISTAS</h3>
        <ul class="shelves">
          <% shelves.each do |other| %>
              <% if shelf != other %>
                  <li><%= link_to other.name, other %> <span class="info">(<%= other.books_count %>)
          Por <%= link_to other.user.name, other.user %></span></li>
              <% end %>
          <% end %>
        </ul>
    <% end %>

    <% if true %>
        <ul class="books">
          <% shelf.books.each do |book| %>
              <li>
                <%= render_book book, :list %>
              </li>
          <% end %>
        </ul>
    <% end %>
<% end %>
