<%= div_for shelf, :class => 'list' do %>
    <h2><%= shelf.name %></h2>
    <div class="list_info">
      <%= shelf.books_count %> libros.
      Creada por <%= link_to_user shelf.user %>
      <span> hace <%= time_ago_in_words shelf.created_at %></span>
    </div>
    <div class="nav">
      <%= button_group do %>
          <%= edit_button_link_to 'Modificar lista', edit_shelf_path(shelf) if can? :edit, shelf %>
          <%= add_button_link_to 'Añadir libro', new_shelf_book_path(shelf) if current_user %>
          <%= danger_remove_button_link_to 'Borrar lista', shelf, :method => :delete,
                                           :confirm => "¿Borrar lista #{shelf.name}?" if can? :destroy, shelf %>
      <% end %>
    </div>
    <div class="order">
      Mostrar en primero los: <%= link_to 'Recientes', '#' %> /
      <%= link_to 'Antigüos', '#' %> /
      <%= link_to 'Más valorados' %> /
      <%= link_to 'Más comentados' %>
    </div>


    <ul class="books">
      <% shelf.books.each do |book| %>
          <li>
            <%= render_book book, :list %>
          </li>
      <% end %>
    </ul>
<% end %>
