<%= div_for shelf, :class => 'list' do %>
    <h1><%= shelf.name %></h1>
    <div class="list_info">
      <%= shelf.books_count %> <%= current_camp.model_name %>s.
      Creada por <%= link_to_user shelf.user %>
      <span> hace <%= time_ago_in_words shelf.created_at %></span>
    </div>
    <div class="nav">
      <%= button_group do %>
          <%= add_button_link_to t('.add_book', :model => current_camp.model_name), new_shelf_book_path(shelf) if current_user %>
          <%= edit_button_link_to 'Modificar lista', edit_shelf_path(shelf) if can? :edit, shelf %>
          <%= danger_remove_button_link_to 'Borrar lista', shelf, :method => :delete,
                                           :confirm => "¿Borrar lista #{shelf.name}?" if shelf.books.size == 0 and can? :destroy, shelf %>
      <% end %>
    </div>

    <ul class="books">
      <%= render :partial => 'shelves/book', :collection => shelf.books %>
    </ul>
<% end %>
