<% title '' %>

<div id="welcome">
  <%= render_info %>
</div>

<div id="browse">
  <div class="actions">
    <%= link_to 'Mostrar todos', shelves_path, :id => 'show_all_books' %> /
    <%= link_to 'Ocultar todos', '#', :id => 'hide_all_books' %>
  </div>
  <% shelves.each do |shelf| %>
      <div class="shelf">
        <h2><%= link_to shelf.name, shelf, :class => 'open-shelf' %> (<%= shelf.books_count %>)</h2>

        <div id="shelf-content-<%= shelf.id %>" class="load-shelf" style="display:none;">
          <div class="actions">un momento...</div>
        </div>
      </div>
  <% end %>
</div>