<% title '' %>

<div id="welcome">
  <%= render_info %>
</div>

<div id="browse">
  <% shelves.each do |shelf| %>
      <div class="shelf">
        <h2><%= link_to shelf.name, shelf %> (<%= shelf.books_count %>)</h2>
        <% if current_user? %>
            <div class="actions">
              <%= link_to t('.add'), new_shelf_book_path(shelf) %>
            </div>
        <% end %>
        <% shelf.books.each do |book| %>
            <div class="book">
              <%= link_to '&rArr;&nbsp;'.html_safe, book, :class => 'notice' if book.url.present? %><%= link_to book.title, book %>
              <%= book.date %> <%= book.authors %> <%= book.editor %>
            </div>
        <% end %>
      </div>
  <% end %>
</div>