
<div class="list">
  <%= title t('.title') %>

  <%= button_group do %>
      <%= add_button_link_to t('.add_shelf'), new_shelf_path if can? :create, Shelf %>
      <%= add_button_link_to t('.add_book', :model => current_model), new_book_path if can? :create, Book %>
  <% end %>

  <%= render :partial => 'shelves', :object => shelves %>
</div>

<%= sidebar 'welcome' %>