<div class="lists">
  <%= title t('.title') %>

  <%= button_group do %>
      <%= add_button_link_to t('.add_shelf'), new_shelf_path  %>
      <%= add_button_link_to t('.add_book', :model => current_model), new_book_path  %>
  <% end %>

  <div class="generated lists">
    <br/>
    <%= link_to 'Últimas adquisiciones', auto_shelf_path(:ultimas) %> |
    <%= link_to 'Más comentadas', auto_shelf_path(:comentadas) %> |
    <%= link_to 'Más valoradas', auto_shelf_path(:valoradas) %> |
    <%= link_to 'Más deseadas', auto_shelf_path(:deseadas) %> |
  </div>

  <%= render :partial => 'shelves', :object => shelves %>
</div>

<%= sidebar  %>