<% title t('.title') %>

<%= lists_div 3 do %>
    <%= render_info %>
    <%= render_shelves shelves %>
    <div class="list">
      <h2><%= t('.latest_books') %></h2>
      <ul class="books">
        <% latest_books.each do |book| %>
            <li>
              <%= render_book book, :list %>
            </li>
        <% end %>
      </ul>

    </div>
<% end %>
