<%= sidebar %>

<%= title t('.title') %>

<%= button_group do %>
    <%= arrowleft_button_link_to 'Cancelar edición', shelves_path %>
<% end %>

<p class="notice">
  CUIDADO: esto es para crear <em>una lista nueva</em>. En el (probable) caso de que lo que quieras
  sea meter una referencia nueva, tienes que ir a la lista y ahí pulsar "Añadir <%= current_camp.model_name %>"
</p>
<%= render :partial => 'form' %>
