<% title 'Estanterías' %>
<div class="header">
  <div class="count"><%= current_camp.references.count %> <%= current_camp.model_name %>s</div>
  <h1>Estanterías #<%= current_camp.name %></H1>


  <% if can? :manage, CampShelf %>
      <div class="actions">
        <%= link_to 'Añadir estantería', new_camp_shelf_path %>
        <%= link_to "Editar biblioteca", [:edit, current_camp] if can? :manage, current_camp %>
      </div>
  <% end %>
</div>

<div class="order">
  <%# shelf_order.each do |param, name| %>
  <%#= link_to_unless shelf_order.current?(param), name, camp_shelves_path(o: param) %>
  <%# end %>
</div>

<%= cache ['camp_shelves_list', current_camp] do %>
    <%= render_shelves camp_shelves, nil %>
<% end %>


<%= content_for(:sidebar) do %>
    <%= render 'sidebar' %>
    <% if current_camp.id == 1 %>
        <div id="sidebar_extra">
          <%= link_to 'Mapa bookcamping', '/mapa', id: 'go-map' %>
    <% end %>
    </div>
<% end %>
