<div class="header">
  <%= title 'Imágenes y ficheros del blog' %>
</div>
<div class="actions">
  <%= link_to '+ Añadir/subir media', new_media_bite_path %>
</div>


<div id="media_bites">
  <% media_bites.each do |media_bite| %>
      <%= div_for media_bite do %>
          <h1><%= media_bite.title %>
            <small></small>
          </h1>
          <% if media_bite.image_file? %>
              <%= image_tag media_bite.file_content_url(:thumb), class: 'thumb' %>
          <% end %>
          <h2>Corta y pega en el post: <%= media_bite.inline_code %></h2>
          <ul class="properties">
            <li class="link"><label>Enlaza con: </label><%= media_bite.link %></li>
          </ul>
          <div class="links">
            <%= link_to 'Editar', [:edit, media_bite] %> |
            <%= link_to 'Borrar', media_bite, method: :delete,
                        confirm: "Borrar '#{media_bite.title}' ¿Estás segura? No se puede deshacer" %>
          </div>
      <% end %>
  <% end %>
</div>
