<div class="actions">
  <%= link_to 'Volver', user_shelf, class: 'back' %>
</div>


<%= simple_form_for user_shelf do |form| %>
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :visibility, include_blank: false,
                   collection: [['Pública', 'public'], ['Privada', 'private']] %>
    <%= form.input :color, collection: Color.collection, include_blank: false,
                   input_html: {class: 'color-select'} %>
    <%= form.submit  %>
<% end %>