<div class="header">
  <% title "##{camp.name}" %>
  <h1>#<%= camp.name %><small> <%= link_to camp.host, "http://#{camp.host}" %></small></h1>
  <div class="description">
  <%= markdown camp.description %>
</div>
  <div class="actions">
    <%= link_to 'Editar', edit_current_camp_path, 
      rel: 'edit-current-camp' if can? :edit, camp %>
  </div>
</div>
<%= render_members camp.group_members %>

<h2>Últimas adquisiciones</h2>
<%= render_references latests_references, '#efefef' %>

<% content_for :sidebar do %>
<% end %>

<%= simple_debug camp %>

