<div class="actions">
  <%= link_to 'Volver', personal_user_path, class: 'back' %>
</div>

<%= title "Editar perfil" %>

<%= simple_form_for(user, url: personal_user_path) do |form| %>
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.submit 'Guardar perfil', id: 'submit_user' %>
<% end %>
