<%= title user.name %>
<div class="actions">
  <%= link_to 'Cerrar sesión', logout_path %>
  <%= link_to 'Editar datos', edit_personal_user_path %>
</div>

<% present user, {show_private: true} do |presenter| -%>
    <%= div_for user do %>
        <%= presenter.render_info %>
    <% end %>
<% end %>

