<div class="actions">
  <%= link_to 'Volver', posts_path, class: 'back' %>
  <%= link_to '+ Añadir entrada', new_admin_post_path %>
</div>

<%= admin_title resource_class, 'Administración del blog' %>

<div class="pagination">
  <%= paginate collection %>
</div>

<div id="posts">
  <% collection.each do |post| %>
      <%= div_for post, class: post.visibility do %>
          <h2><%= link_to truncate(post.title, length: 50), [:admin, post] %>
            <small class="visibility <%= post.visibility %>"><%= t("post.visibilities.#{post.visibility}") %></small>
          </h2>
          <h6 class="author">Por <%= post.author %>
            <small>Publicado hace <%= time_ago_in_words post.published_at %></small>
          </h6>
          <div class="links">
            <%= link_to 'Editar', [:edit, :admin, post] %> |
            <% if post.public? %>
                <%= link_to 'Ver en la web', post %> |
            <% end %>
            <%= link_to 'Borrar', [:admin, post], method: :delete,
                        confirm: "¿Seguro que quieres borrar el post '#{post.title}'? No se puede deshacer!" %>
          </div>
      <% end %>
  <% end %>
</div>

<% content_for :sidebar do %>
    <div id="sidecontent">
      <div class="main">
        <h1>Últimos comentarios al blog</h1>
        <ul>
          <% last_comments.each do |comment| %>
              <li>
                <%= link_to 'Comentario', [:admin, comment] %> de <%= comment_author(comment) %>
                hace <%= time_ago_in_words comment.created_at %>
                en <%= link_to truncate(comment.resource.title), [comment.resource] %> por
              </li>
          <% end %>
        </ul>
      </div>
      <div class="footer">
      </div>
    </div>
<% end %>