<div class="actions">
  <%= link_to 'Volver', admin_posts_path, class: 'back' %>
  <%= link_to 'Editar entrada', [:edit, :admin, post] if can? :manage, post %>
  <%= link_to 'Ver en la web', post if post.public? %>
</div>

<% present post do |presenter| %>
    <div id="posts">
      <%= div_for post, class: post.visibility do %>
          <%= title post.title %>
          <div class="author">Por <%= post.author %></div>
          <div class="body"><%= presenter.body %></div>
      <% end %>
    </div>

    <%= content_for :sidebar do %>
        <div id="sidecontent">
          <div class="main">
            <h1>Imágenes utilizadas en este post</h1>
            <ul id="used-media">
              <% presenter.used_media.each do |media| %>
                  <li>
                    <h3><%= media.title %>
                      <small>
                        <%= link_to 'editar', [:edit, :admin, media] %>
                      </small>
                    </h3>
                  </li>
              <% end %>
            </ul>
          </div>
          <div class="footer"></div>
        </div>
    <% end %>
<% end %>
