<%= div_for book_list, :class => 'list' do %>
    <div class="nav">
      <%= link_to 'Modificar lista', edit_book_list_path %>
    </div>
    <h2><%= book_list.name %></h2>
    <ul class="books">
      <% book_list.books.each do |book| %>
          <li>
            <%= render book %>
          </li>
      <% end %>
    </ul>
    <div class="actions add_book">
      <%= link_to 'Añadir libro', new_book_list_book_path(book_list) if current_user %>
    </div>
<% end %>
