<div class="header">
  <div class="count"><%= user_count %></div>
  <%= title '#bookcamping somos...' %>
  <p class="description">Personas y colectivos que colaboran con 
  #bookcamping</p>
</div>

<%= render 'search_box' %>

<h2>Colectivos</h2>
<%= render_users groups %>
<h2>Personas 
  <small>Se muestran las 50 bookcampers más activas</small></h2>
<%= render_users persons %>
