<div class="header">
  <div class="count"><%= user_count %></div>
  <%= title '#bookcamping somos' %>
</div>

<%= form_tag search_users_path, method: :get, class: 'search_users' do %>
  Buscar colaboradoras: <%= text_field_tag :term %>
<% end %>
<h2>Colectivos</h2>
<%= render_users groups %>
<h2>Personas</h2>
<%= render_users persons %>
