<div class="header">
  <div class="count">
    <%= search.results.size %> encontradas.
  </div>
  <%=  title "Buscar colaboradoras con '#{search.term}'" %>
  <%= link_to 'Volver', users_path, class: 'back' %>
</div>

<%= render 'search_box' %>

<div class="search-results users">
  <% search.results.each do |user| %>
      <%= div_for user, data: {user_id: user.id} do %>
          <div class="avatar"><%= link_to avatar_image(user), user %></div>
          <div class="name">
            <%= link_to user.name, user %>
          </div>
      <% end %>
  <% end %>
</div>
