<div class="header">
  <%=  title "Buscar colaboradoras con '#{search.term}'" %>
  <div class="description">
    <%= search.results.size %> encontradas.
  </div>
</div>

<%= form_tag search_users_path, method: :get, class: 'search_users' do %>
    Buscar colaboradoras: <%= text_field_tag :term %>
<% end %>

<div class="users">
  <% search.results.each do |user| %>
      <%= div_for user, data: {user_id: user.id} do %>
          <div class="avatar"><%= link_to avatar_image(user), user %></div>
          <div class="name">
            <%= link_to user.name, user %>
          </div>
      <% end %>
  <% end %>
</div>