<div class="header">
  <div class="avatar"><%= avatar_image(user, :small) %></div>
  <% title user.name %>
  <h1><%= user.name %>
    <small>&nbsp;<%= link_to user.twitter, "http://twitter.com/##{user.twitter}" if user.twitter? %></small>
  </h1>
  <div class="description"><%= user.description %></div>
  <div class="actions">
    <%= link_to 'Volver', users_path, class: 'back' %>
    <%= link_to 'Editar', edit_user_path(user) if can? :edit, user %>
    <%= link_to 'Borrar', user, method: :delete,
                confirm: "NO DEBERÍA HABER RAZÓN PARA HACER ESTO. NO PUEDES DESHACER" if can? :destroy, user %>
  </div>
</div>


<h2>Últimas referencias añadidas</h2>
<%= render_books books, '#efefef' %>
<%#= link_to 'más...'  TODO %>

<h2>Listas</h2>
<div class="actions">
  <%= link_to 'Añadir lista', new_user_shelf_path if user == current_user %>
</div>
<table class="shelves">
  <% user.user_shelves.each do |shelf| %>
      <%= render_shelf shelf, shelf %>
  <% end %>
</table>

<% if current_user and current_user.super? %>
    <h2>Esto es para tí:</h2>
    <%= debug user %>
<% end %>

