<div class="header">
  <% title user.name %>
  <h1><%=  user.name %><small>&nbsp;<%= link_to user.twitter, "http://twitter.com/##{user.twitter}" if user.twitter? %></small></h1>
  <div class="description"><%= user.description %></div>
  <div class="actions">
    <%= link_to 'Volver', users_path, class: 'back' %>
    <%= link_to 'Editar', edit_user_path(user) if can? :edit, user %>
    <%= link_to 'Borrar', user, method: :delete,
                confirm: "NO DEBERÍA HABER RAZÓN PARA HACER ESTO. NO PUEDES DESHACER" if can? :destroy, user %>
  </div>
</div>


<%= simple_debug user %>
