<%= lists_div 2 do %>
    <%= render_info %>
    <div class="list users">
      <%= title user.name %>
      <div class="nav">
        <%= link_to "&larr; Volver".html_safe, users_path %>
        <%= link_to 'Editar', edit_user_path(user) if can? :edit, user %>
      </div>

      <% if current_user? :super %>
          <ul>
            <li><label>Rol: </label><%= user.rol %></li>
            <li><label>Provider: </label><%= user.provider %></li>
            <li><label>Uid: </label><%= user.uid %></li>
          </ul>
      <% end %>
    </div>
<% end %>