<%= simple_form_for page do |form| %>
    <%= form.input :title %>
    <%= form.input :author %>
    <% if current_user.admin? %>
        <%= form.input :category_id, collection: Category.all, include_blank: false %>
    <% else %>
        <p>En <%= page.category %></p>
    <% end %>
    <%= form.input :body %>
    <%= form.submit %>
<% end %>