<div class="header" xmlns="http://www.w3.org/1999/html">
  <%= title 'Wiki #bookcamping' %>
  <div class="actions">
    <%= link_to 'Añadir página', [:new, :page] if can? :manage, Page %>
    <%= link_to 'Gestionar categorías', categories_path if can? :manage, Category %>
  </div>
</div>

<p>El <b><%= link_to 'Observatorio de licencias', licenses_path %></b> tiene otros
  documentos relacionados con licencias, derechos y legalidad.</p>

<%= render categories %>
