<%= div_for book do %>
    <%= link_to "&larr; Volver".html_safe, root_path, :class => 'back' if ctx == :book %>
    <div class="info">
      <%= content_tag :h3, link_to(book.title, book) %>
      <% if ctx == :book %>
          <div>
            <%= button_group do %>
                <%= edit_button_link_to t('.edit'), edit_book_path(book) if can? :edit, book %>
                <%= danger_remove_button_link_to 'Borrar', book_path(book), :method => :delete,
                                                 :confirm => 'Seguro!?' if can? :destroy, book %>
            <% end %>
          </div>
      <% end %>


      <%= content_tag :span, book.date, :class => 'date' if book.date.present? %>
      <%= content_tag :span, book.authors, :class => 'authors' if book.authors.present? %>
      <% if book.editor.present? %>
          / <%= content_tag :span, book.editor, :class => 'editor' %>
      <% end %>
    </div>
    <div class="description">
      <%= render_description book %>
    </div>
    <% if book.url.present? %>
        <div class="download_url">
          <%= link_to("¿Lo quieres? ¡Lo tienes! &rArr; Descargar!".html_safe, book.url) %>
        </div>
    <% end %>
    <% if ctx == :book and book.media.present? %>
        <div class="media">
          <%= render_media book %>
        </div>
    <% end %>
    <div class="controls">
      <span class="user"><%= link_to book.user.name, book.user if book.user %></span>
      <span class="time">hace <%= time_ago_in_words book.created_at %></span>
      <% if ctx == :book %>
          <span class="comment_count"><%= iconic(:comment, book.comments_count) %></span>
          <%= link_to 'Permalink', book %>
      <% else %>
          <%= link_to iconic(:comment, book.comments_count), book %>
          <%= link_to 'Permalink', book %>
          <%= link_to 'Editar', edit_book_path(book) if can? :edit, book %>
      <% end %>
      <div class="bookmarks">
        <%= render_bookmarks book %></div>
      <div class="twitter">
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="http://platform.twitter.com/widgets/tweet_button.html?url=<%= book_url(book) %>&text=%23bookcamping <%= book.title %>"
                style="width:130px; height:50px;"></iframe>
      </div>
      <% if ctx == :book %>
          <div class="shelves section">
            <h3>En:</h3>
            <%= render_shelf_items book.shelf_items %>
            <%= link_to t('.add_to_list'), new_book_shelf_item_path(book) %>
          </div>

          <%= render_comments(book.comments, Comment.new(:resource => book)) %>
      <% end %>
    </div>
<% end %>