<%= simple_form_for book do |form| %>
    <% if book.new_record? %>
        <%= form.input :include_in_shelf_id, :collection => current_camp.shelves, :include_blank => false %>
        <p class="important">&nbsp;&uArr;&nbsp;<strong>Presta atención!</strong> Selecciona bien dónde quieres poner esta referencia.</p>
    <% end %>
    <%= form.input :title %>
    <%= form.input :authors %>
    <%= form.input :editor %>
    <%= form.input :date %>
    <%= form.association :license, :include_blank => false %>
    <%= form.input :url %>
    <%= form.input :media %>
    <%= form.input :description, :as => :text %>
    <%= form.association :user if current_user? :super %>
    <%= form.submit 'Guardar' %>
<% end %>
