<% title t('.title') %>

<%= lists_div 3 do %>
    <%= render 'layouts/intro' %>
    <%= render_shelves shelves %>
    <div class="list shelf search-results">
      <h1>Buscar '<span id="search-term"><%= params[:term] %></span>'</h1>

      <div class="list_info info">
        <%= search_results.count %> <%= current_camp.model_name %>s.
      </div>
      <%= render_book_list search_results %>
    </div>
<% end %>
