<% if shelf? %>
    <%= render shelf %>
<% else %>
    <h1>Incluído en las siguientes listas</h1>
    <%= render :partial => 'shelves/shelves', :object => book.shelves %>
<% end %>

<% content_for :sidebar do %>
    <%= div_for book do %>
        <div class="info">
          <%= title book.title %>
          <%= image_tag(book.license.icon) %>
          <%= content_tag :span, book.date, :class => 'date' if book.date.present? %>
          <%= content_tag :span, book.authors, :class => 'authors' if book.authors.present? %>
          <% if book.editor.present? %>
              / <%= content_tag :span, book.editor, :class => 'editor' %>
          <% end %>
        </div>
        <div class="actions">
          <%= link_to 'Editar', [:edit, book] if can? :edit, book %>
          <%= link_to 'Borrar', book, :method => :delete,
                      :confirm => "¿Quieres borrar '#{book.title}'?" if can? :destroy, book %>
        </div>
        <div class="description">
          <%= render_description book %>
        </div>
        <% if book.url.present? %>
            <div class="download_url">
              <%= link_to("¿Lo quieres? ¡Lo tienes! &rArr; Descargar!".html_safe, book.url) %>
            </div>
        <% end %>
        <% if book.media? %>
            <div class="media">
              <%= render_media book %>
            </div>
        <% end %>
        <%= render_comments(book.comments, Comment.new(:resource => book)) %>

    <% end %>
<% end %>
