
<%= lists_div 3 do %>
    <%= render 'layouts/intro' %>
    <%= render_shelves shelves %>
    <div class="list">
      <div class="nav">
        <%= link_to t('.edit'), edit_book_path(book) if can? :edit, book %>
        <%= link_to 'Borrar', book_path(book), :method => :delete,
                    :confirm => 'Seguro!?' if can? :destroy, book %>
      </div>
      <%= render_book book %>
    </div>
<% end %>