<% if shelf? %>
    <%= render shelf %>
<% else %>
    <h1>Incluído en</h1>
    <%= render :partial => 'shelves/shelves', :object => book.shelves %>
<% end %>

<% content_for :sidebar do %>
    <%= div_for book do %>
        <div class="info">
          <%= title book.title %>
          <%= image_tag(book.license.icon) %>
          <%= content_tag :span, book.date, :class => 'date' if book.date.present? %>
          <%= content_tag :span, book.authors, :class => 'authors' if book.authors.present? %>
          <% if book.editor.present? %>
              / <%= content_tag :span, book.editor, :class => 'editor' %>
          <% end %>
        </div>
        <div class="actions">
          <%= link_to 'Editar', [:edit, book] if can? :edit, book %>
          <%= link_to 'Borrar', book, :method => :delete,
                      :confirm => "¿Quieres borrar '#{book.title}'?" if can? :destroy, book %>
        </div>
        <div class="description">
          <%= markdown book.description %>
        </div>
        <% if book.url.present? %>
            <div class="download_url">
              <%= link_to("¿Lo quieres? ¡Lo tienes! &rArr; Descargar!".html_safe, book.url, :class => 'important') %>
            </div>
        <% end %>
        <% if book.media? %>
            <div class="media">
              <%= render_media book %>
            </div>
        <% end %>
        <div class="social">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_compact"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e0c5ed54d3f9ab7"></script>
          <!-- AddThis Button END -->
        </div>
        <%= render_comments(book.comments, Comment.new(:resource => book)) %>

    <% end %>
<% end %>
