<% title book.title %>

<% if shelf.present? %>
    <%= render shelf %>
<% else %>
    <h1>Listas en las que está incluído</h1>
    <div class="actions">
      <%= link_to 'Gestionar listas', new_book_shelf_item_path(book) if can? :new, ShelfItem %>
    </div>
    <%= render :partial => 'shelves/shelves', :object => book.camp_shelves %>
<% end %>

<% content_for :sidebar do %>
    <%= div_for book do %>
        <div class="info">
          <h1><%= link_to_unless_current book.title, book %></h1>
          <%= image_tag(book.license.icon) %>
          <%= content_tag :span, book.date, :class => 'date' if book.date.present? %>
          <%= content_tag :span, book.authors, :class => 'authors' if book.authors.present? %>
          <% if book.editor.present? %>
              / <%= content_tag :span, book.editor, :class => 'editor' %>
          <% end %>
        </div>
        <div class="author">
            Por <%= link_to book.user.name, book.user %>
        </div>
        <div class="actions">
          <%= link_to 'Editar', [:edit, book] if can? :edit, book %>
          <%= link_to 'Borrar', book, :method => :delete,
                      :confirm => "¿Quieres borrar '#{book.title}'?" if can? :destroy, book %>
        </div>
        <div class="description">
          <%= markdown book.description %>
        </div>
        <% if book.url.present? %>
            <div class="download_url">
              <%= link_to("¿Lo quieres? ¡Lo tienes! <b>&dArr;</b> Descargar!".html_safe, book.url, :class => 'important download') %>
            </div>
        <% end %>
        <% if book.media? %>
            <div class="media">
              <%= render_media book %>
            </div>
        <% end %>
        <%= render 'social/social' %>
        <%= render_comments(book.comments, Comment.new(:resource => book)) %>

    <% end %>
<% end %>
