<div class="actions">
  <%= link_to 'Volver', posts_path, class: 'back' %>
  <%= link_to '+ Añadir entrada', new_admin_post_path %>
</div>

<%= admin_title resource_class, 'Administración del blog' %>

<div class="pagination">
  <%= paginate collection %>
</div>

<div id="posts">
  <% collection.each do |post| %>
      <%= div_for post, class: post.visibility do %>
          <h1><%= post.title %>
            <small><%= t("post.visibilities.#{post.visibility}") %></small>
          </h1>
          <h5 class="author">Por <%= post.author %>
            <small>Hace <%= time_ago_in_words post.published_at %></small>
          </h5>
          <div class="body"><%= markdown post.body, 100 %></div>
          <div class="links">
            <%= link_to 'Editar', [:edit, :admin, post] %> |
            <% if post.public? %>
                <%= link_to 'Ver en la web', post %> |
            <% end %>
            <%= link_to 'Borrar', [:admin, post], method: :delete,
                        confirm: "¿Seguro que quieres borrar el post '#{post.title}'? No se puede deshacer!" %>
          </div>
      <% end %>
  <% end %>
</div>
