<%= div_for version do %>
    <div class="user">
      <% if version.whodunnit.present? %>
          <%= link_to version.user_name, user_path(version.whodunnit) %>
      <% else %>
          'Anónimx'
      <% end %>
      hace <%= time_ago_in_words version.created_at %>
    </div>
    <div class="action">
      ha <%= t("versions.events.#{version.event}") %> <%= t("versions.models.#{version.item_type}") %>
      <% title = version.title ? version.title : '<sin título>' %>
      <%= link_to title, version %>
    </div>
<% end %>