<div class="header">
  <%= title "Email con actividad ##{current_camp.name}" %>
  <div class="actions">
    <%=  link_to 'Volver', versions_path, class: 'back' %>
  </div>
</div>

<h2><%= @message %></h2>

<div>
  Última vez que se envió el email: <%= time_ago_in_words @last_activity_email %>
</div>

<h2>Actividad desde el último email</h2>
<%= render_versions @versions %>