<div class="header">
  <%= title 'Mis listas' %>
  <div class="properties">
    Tienes <%= current_user.user_shelves.public.count %> listas públicas
    y <%= current_user.user_shelves.private.count %> privada.
  </div>
</div>

<div class="actions">
  <%= link_to '+ Añadir lista', new_personal_user_shelf_path %>
</div>


<table class="shelves">
  <% current_user.user_shelves.each do |shelf| %>
      <%= render_shelf shelf, [:personal, shelf] %>
  <% end %>
</table>

