<% title "Estanterías" %>
<h1>Listas
  <span>(<%= shelves.count %>)</span>
</h1>


<table class="shelves">
  <% profile_shelves.each do |shelf| %>
      <tr class="spacer">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="shelf" style="background-color: <%= shelf.background %>;">
        <td class="main">
          <span class="name"><%= link_to shelf.name, [:personal, shelf] %></span>
          <span class="user"></span>
        </td>
        <td class="count">
          <%= link_to [:personal, shelf] do %>
              <%= shelf.books_count %>
              <br/>
              <%= current_model %>s
          <% end %>
        </td>
      </tr>
  <% end %>
</table>

