<% title shelf.name %>
<%= div_for shelf, class: 'shelf' do %>
    <% present shelf do |presenter| %>
        <%= presenter.header %>
        <div class="actions">
          <%= link_to 'Volver', personal_user_shelves_path, class: 'back' %>
          <%= link_to 'Editar lista', [:edit, :personal, shelf] if can? :edit, shelf %>
          <%= link_to 'Seleccionar referencias', '#', class: 'select-references' if current_user? %>
          <%= link_to 'Borrar lista', [:personal, shelf], method: :delete,
              confirm: "¿Seguro que borrar la lista '#{shelf.name}'?" if can? :delete, shelf %>
        </div>
        <%= presenter.references %>
    <% end %>
<% end %>


