<tr class="spacer">
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr class="shelf" style="<%= shelf_background(shelf) %>;">
  <td class="main">
    <span class="name"><%= link_to shelf.name, shelf_link %></span>
    <% if shelf.type == 'CampShelf' -%>
        <span class="user">En&nbsp;#<%= shelf.camp.name %>.</span>
        <span class="user">Iniciada&nbsp;por&nbsp;<%= link_to shelf.user.name, shelf.user %></span>
    <% else %>
        <span class="user">De&nbsp;<%= link_to shelf.user.name, shelf.user %></span>
    <% end %>
  </td>
  <td class="count">
    <%= link_to shelf_link do %>
        <%= shelf.references_count %>
    <% end %>
  </td>
</tr>
