<tr class="spacer">
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr class="shelf" style="background-color: <%= shelf.background %>;">
  <td class="main">
    <span class="name"><%= link_to shelf.name, shelf_link %></span>
    <% if shelf.type == 'CampShelf' -%>
        <span class="user">En&nbsp;#<%= shelf.camp.name %>, </span>
        <span class="user">creada&nbsp;por&nbsp;<%= link_to shelf.user.name, shelf.user %></span>
    <% else %>
        <span class="user">De&nbsp;<%= link_to shelf.user.name, shelf.user %></span>
    <% end %>
    <%= '(privada)' if shelf.visibility == 'private' %>

  </td>
  <td class="count">
    <%= link_to shelf_link do %>
        <%= shelf.books_count %>
        <br/>
        <%= current_model %>s
    <% end %>
  </td>
</tr>
