<div id="banner">
  <div class="slogan">
    <h2><%= current_camp.line1 %></h2>

    <h2><%= current_camp.line2 %></h2>
  </div>
</div>
<div id="app">
  <div class="browser">
    <ul class="sections">
      <% library.section_names.each do |section_name| %>
          <li class="section">
            <%= link_to t("app.sections.#{section_name}"),
                        section_path(section_name),
                        :data => {:hash => "#/seccion/#{section_name}"}, :class => 'section' %>
            <ul class="lists">
              <% library.section(section_name).each do |list| %>
                  <li class="list"><%= link_to_list list %></li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="main">
    <%= render current_camp.name[1..-1] %>
  </div>
  <div id="search" class="search">
    <%= text_field_tag :q %><%= search_button_link_to 'Buscar'.html_safe, '#', :rel => :no_follow %>
    <p id="search-error" class="error">&nbsp;</p>
  </div>
  <div class="viewer">
    <div class="customScrollBox">
      <div class="container">
        <div class="content">
        </div>
        <div class="dragger_container">
          <div class="dragger"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "app" %>
