<%= title "Estadísticas" %>

<h2>Totales</h2>
<dl>
  <dt>Número de referencias:</dt>
  <dd><%= Book.count %></dd>
  <dt>Número de participantxs:</dt>
  <dd><%= User.count %></dd>
</dl>

<% Camp.all.each do |camp| %>
  <h2>En <%= camp.name %></h2>
  <dl>
    <dt>Referencias:</dt>
    <dd><%= camp.books.count %></dd>
  </dl>
<% end %>

