<% title book.title %>



<%= div_for book do %>
    <% present book do |book_presenter| -%>
        <div class="book_info row">
          <h1><%= book_presenter.linked_title %></h1>
          <%= book_presenter.license_icon %>
          <%= book_presenter.date %>
          <%= book_presenter.authors %>
          <% if book.editor.present? %>
              / <%= book_presenter.editor %>
          <% end %>
          <%= book_presenter.user %>
        </div>
        <div class="actions">
          <%= link_to 'Editar', edit_book_path(book) if can? :edit, book %>
          <%= link_to 'Gestionar listas', [book, :shelf_items] %>
        </div>
        <div class="content row">
          <div class="left media">
            <%= book_presenter.media %>
          </div>
          <div class="right">
            <div class="description">
              <%= book_presenter.description %>
            </div>
          </div>
        </div>
        <div class="content row">
          <% if book_presenter.download_visible? %>
              <div class="download_url">
                <%= book_presenter.download_link %>
              </div>
          <% end %>
        </div>
        <div class="camp_shelves row">
          <%= book_presenter.camp_shelves %>
        </div>
        <div class="social row">
          <%= book_presenter.social %>
        </div>
        <div class="comments row">
          <%= book_presenter.comments %>
        </div>
    <% end %>
<% end %>