<% title book.title %>

<%= div_for book do %>
    <% present book do |book_presenter| -%>
        <div class="book_info row">
          <h1><%= book_presenter.linked_title %></h1>
          <%= book_presenter.license_icon %>
          <%= book_presenter.date %>
          <%= book_presenter.authors %>
          <% if book.editor.present? %>
              / <%= book_presenter.editor %>
          <% end %>
          <%= book_presenter.user %>
        </div>
        <div class="content row">
          <div class="left media">
            <%= book_presenter.media %>
          </div>
          <div class="right">
            <div class="description">
              <%= book_presenter.description %>
            </div>
          </div>
        </div>
        <div class="camp_shelves row">
          <%= book_presenter.camp_shelves %>
        </div>
        <div class="social row">
          <%= book_presenter.social %>
        </div>
        <div class="comments row">
          <%= book_presenter.comments %>
        </div>
    <% end %>
<% end %>