<%= div_for reference, class: 'summary' do %>
  <% present reference do |presenter| -%>
    <div class="actions">
      <%= link_to 'Ver ficha completa', reference %>
      <%= link_to 'Editar', [:edit, reference] if can? :edit, reference %>
    </div>
    <div class="info">
      <h1><%= presenter.linked_title %></h1>
      <%= presenter.license_icon %>
      <%= presenter.date %>
      <%= presenter.authors %>
      <% if reference.editor.present? %>
        / <%= presenter.editor %>
    <% end %>
  </div>
  <%= presenter.user('Subido por ') %>
  <div class="description">
    <%= presenter.description %>
  </div>
  <% if presenter.download_visible? %>
    <div class="download_url">
      <%= presenter.download_link %>
    </div>
  <% end %>
  <div class="media">
    <%= presenter.media %>
  </div>
<% end %>
<% end %>
