<% if shelf_item.description? %>
    <%= markdown shelf_item.description %>
    <div class="actions small">
      <%= link_to 'Editar', [:edit, shelf, shelf_item] if can? :edit, shelf_item %>
    </div>
    <%= image_tag 'dedo-vertical.png', id: 'dedo-vertical' %>
<% else %>
    <% if can? :edit, shelf_item %>
        <div class="question">
          <h3><%= link_to "¿Por qué '#{reference.title}' está en #{shelf.name}?", [:edit, shelf, shelf_item] %></h3>
        </div>
        <%= image_tag 'dedo-vertical.png', id: 'dedo-vertical' %>
    <% end %>
<% end %>

<%= div_for reference, class: 'summary' do %>
    <% present reference do |presenter| -%>
        <%= link_to 'Ver ficha completa', reference, class: 'go-reference' %>
        <div class="info">
          <h1><%= presenter.linked_title %></h1>
          <%= presenter.license_icon %>
          <%= presenter.date %>
          <%= presenter.authors %>
          <% if reference.editor.present? %>
              / <%= presenter.editor %>
          <% end %>
        </div>
        <%= presenter.user('Subido por ') %>
        <div class="description">
          <%= presenter.description %>
        </div>
        <% if presenter.download_visible? %>
            <div class="download_url">
              <%= presenter.download_link %>
            </div>
        <% end %>
        <%= presenter.media %>
    <% end %>
<% end %>
