<div class="header">
  <div style="display:none">id: <%= user.id %></div>
  <div class="count">
    <%= presenter.count %>
  </div>
  <h1><%= user.name %></h1>

  <div class="properties">
    <%= presenter.email if  presenter.show_private? %>
    <%= presenter.twitter %>
  </div>

  <div class="description"><%= presenter.description %></div>

  <%= beta_div do %>
    <div class="actions">
      <%= link_to 'Listas', user_user_shelves_path(user) %>
      <%= link_to 'Actividad', user_versions_path(user) %>
    </div>
  <% end %>
</div>
