<div class="header">
  <div class="count">
    <%= presenter.count %>
  </div>
  <h1><%= user.name %></h1>

  <div class="properties">
    <%= presenter.email if  presenter.show_private? %>
    <%= presenter.twitter %>
  </div>

  <div class="description"><%= presenter.description %></div>
</div>
