<%= div_for post, class: post.visibility do %>
    <%= title post.title %>
    <div class="author">Por <%= post.author %></div>
    <div class="body"><%= markdown post.render_body %></div>
    <%= render 'social/social' %>
    <%= render partial: 'comments/comments', locals: {comments: comments, new_comment: new_comment} %>
<% end %>

