<%= div_for post, class: post.visibility do %>
    <%= title post.title %>
    <div class="author">Por <%= post.author %></div>
    <div class="body"><%= markdown post.render_body %></div>
    <br/>
    <br/>
    <%= render 'social/social' %>
    <%= render_comments comments, new_comment %>
<% end %>

