<%= simple_form_for reference do |form| %>
    <% if reference.include_in_shelf_id.present? %>
        <%= form.input :include_in_shelf_id, :as => :hidden %>
    <% elsif reference.new_record? %>
        <%= form.input :include_in_shelf_id, :collection => current_camp.camp_shelves, :include_blank => false %>
        <p class="important">&nbsp;&uArr;&nbsp;<strong>¡Presta atención!</strong> Selecciona bien dónde quieres poner
          esta referencia.</p>
    <% end %>
    <%= form.input :title %>
    <%= form.input :authors %>
    <%= form.input :editor %>
    <%= form.input :date %>
    <%= form.input :license, label: 'Licencia', collection: License.open, include_blank: false %>
    <div id="reference_url">
      <%= form.input :url %>
      <p class="important">&nbsp;&uArr;&nbsp;<strong>¡Recuerda!</strong> Si es de una editorial privativa (texto
        licenciado con copyright)
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;no enlaces el archivo, limítate a hacer la referencia/reseña. ¡Gracias!</p>
    </div>
    <%= form.input :media %>
    <%= form.input :description, :as => :text %>
    <%= form.submit 'Guardar' %>
<% end %>
