<div class="books container">
  <% presenter.references.each do |book| %>
      <%= div_for book, style: "background-color: #{presenter.opt(:background_color)};", class: book.resource_type do %>
          <div class="content">
            <div class="emblems">
              <%= license_type_icon book %>
              <%= image_tag('/images/ui3/download-arrow.png', :class => 'download') if book.url.present? %>
            </div>
            <div class="cover">
              <h3>
                <%= link_to book.title, presenter.url_for(book), data: {pjax: '[data-pjax-container]'} %>
              </h3>
              <%= book.date %> <%= book.authors %> <%= book.editor %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
