<% present camp_shelf do |presenter| %>
    <%= div_for camp_shelf, class: 'shelf' do %>
        <%= presenter.header %>

        <div class="actions">
          <%= link_to 'Volver', camp_shelves_path, :class => 'back' %>
          <%= link_to 'Seleccionar referencias', '#', class: 'select-references' if current_user? %>
        </div>
        
        <%= presenter.references %>
    <% end %>
<% end %>
