<% present camp_shelf do |presenter| %>
    <%= div_for camp_shelf, class: 'shelf' do %>
        <%= presenter.header %>

        <div class="actions">
          <%= link_to 'Volver', camp_shelves_path, :class => 'back' %>
          <%= link_to "Añadir #{current_camp.model_name}", [:select, camp_shelf, Book] %>
          <%= link_to 'Editar estantería', [:edit, camp_shelf] if can? :edit, camp_shelf %>
          <%= link_to 'Seleccionar referencias', '#', class: 'select-references beta' if beta? %>
        </div>
        <%= presenter.references %>
    <% end %>
<% end %>
