<%= div_for camp_shelf, class: 'shelf' do %>
    <div class="info">
      <div class="count">
        <%= camp_shelf.books_count %>
        <br/>
        <%= current_model %>s
      </div>
      <div class="controls">
      </div>
      <h1><%= camp_shelf.name %></h1>
      <div class="timestamps">
        Creada por <%= camp_shelf.user.name %>
        y modificada hace <%= time_ago_in_words camp_shelf.updated_at %>
      </div>
    </div>
    <div class="actions">
      <%= link_to 'Volver', camp_shelves_path, :class => 'back' %>
    </div>
    <%= render_books camp_shelf.books, camp_shelf.background, camp_shelf %>
<% end %>