<% title 'Estanterías' %>


<div id="autoshelves">
  <% AutoShelf::NAMES.each do |name| %>
      <%= link_to t("autoshelf.name.#{name}"), auto_shelf_path(name), :class => name %>
  <% end %>
</div>

<div class="order">
  <%= link_to_unless shelves_order == 'activas', 'Más activas primero', camp_shelves_path(o: 'activas') %>
  <%= link_to_unless shelves_order == 'alfabetico', 'Alfabético', camp_shelves_path(o: 'alfabetico') %>
  <%= link_to_unless shelves_order == 'original', 'Según fueron añadidas', camp_shelves_path(o: 'original') %>
</div>

<%= render_shelves camp_shelves %>


<%= content_for(:sidebar) { render 'sidebar' } %>
