<div class="header">
  <%= title 'Categorías' %>
  <div class="actions">
    <%= link_to 'Volver', pages_path, class: 'back' %>
    <%= link_to 'Añadir categoría', new_category_path if can? :create, Category %>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Visible por</th>
    <th>Editable por</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= t(category.view_level, scope: [:category, :levels]) %></td>
    <td><%= t(category.edit_level, scope: [:category, :levels]) %></td>
    <td class="actions">
      <%= link_to 'Editar', [:edit, category] if can? :edit, category %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table> 