<div class="header">
  <%= title 'Participantes' %>
</div>
<div class="actions">
  <%= link_to 'Añadir', new_admin_user_path %>
</div>

<table>
  <% users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>(<%= user.login_count %>)</td>
        <td><%= link_to user.name, user %> /
        <%= user.email %>
        <br/>&nbsp;(<%= time_ago_in_words user.last_login_at if user.last_login_at %>)</td>
        <td>[<% user.identities.each do |i|%><%= i.provider %><% end %>]</td>
        <td>
          <%= link_to 'Editar', [:edit, :admin, user] %>
          <%= link_to 'Borrar!', [:admin, user], method: :delete, confirm: "borrar #{user.name}" if Rails.env.development? %>
        </td>
      </tr>
  <% end %>
</table>


