<%= simple_form_for [:admin, shelf] do |form| %>
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :slug  %>
    <%= form.association :user  %>
    <%= form.input :visibility, include_blank: false,
                   collection: tc('shelf.visibilities', Shelf::VISIBILITIES) %>
    <%= form.input :color %>
    <p>Colores propuestos (debes incluir el #):<br/>
      <% Shelf::COLORS.each do |color| %>
          <span style="background-color: <%= color %>;"> <%= color %> </span>
      <% end %>
    </p>

    <%= form.submit id: 'shelf_submit' %>
<% end %>