<div id="shelves">
  <% shelves.each do |shelf| %>
      <%= div_for shelf, class: 'shelf' do %>
          <span class="slug"><%= shelf.slug %></span>
          <h3><%= link_to shelf.name, [:admin, shelf] %>
            <small class="visibility <%= shelf.visibility %>"><%= t("shelf.visibilities.#{shelf.visibility}") %></small>
          </h3>
          <span class="description"><%= shelf.description %></span>
          <span class="author">Por <%= link_to shelf.user.name, shelf.user %>.</span>
          <span class="book_count"><%= shelf.books_count %> referencias.</span>
          <span class="updated_at">Modificada hace <%= time_ago_in_words shelf.updated_at %>.</span>
          <div class="links">
            <%= link_to 'Editar', [:edit, :admin, shelf] %>
            <%= link_to 'Ver en la web', shelf if shelf.visible_public? %>
          </div>
      <% end %>
  <% end %>
</div>