<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Actividad reciente en #<%= @camp.name %></h1>
    <p>
      ¡Hola <%= @user.name %>!<br/>
    </p>
    <% @versions.each do |version| %>
    <% title = version.title ? version.title : '<sin título>' %>
    <p> <%= link_to truncate(title, length: 50), url_for([:admin, version]) %>
      <small><%= t("versions.models.#{version.item_type}") %></small>
      <br/><span class="action">
        <%= t("versions.events.#{version.event}") %>
      </span>
      <% if version.whodunnit.present? %>
          por <%= link_to version.user_name, user_url(version.whodunnit) %>
      <% end %>
      <small>hace <%= time_ago_in_words version.created_at %></small>
    </p>
<% end %> </body>
</html>
