

<table class="common-table zebra-striped">
  <thead>
    <tr>
      <% resource_attributes.each do |attribute| %>
        <th><%= resource_class.human_attribute_name(attribute) %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr>
       <td>
        <%= link_to 'show', [:backend, resource] %>
        <%= link_to 'edit', [:edit, :backend, resource] %>
        <%=  link_to 'destroy', [:backend, resource], method: :delete, confirm: "BORRAR. Espero que sepas lo que estás haciendo. ¿Continuamos?" %>
      </td>
      <% attributes.each do |attribute| %>
        <td><%= resource.public_send(attribute).to_s.truncate(20) %></td>
      <% end %>
     </tr>
    <% end %>
  </tbody>
</table>

