<% title "#{resource_class.name}s" %>
<h1><%= resource_class.name %> <small>(<%= resource_class.count %>)</small></h1>

<%= form_tag [:search, :backend, resource_class], method: :get  do %>
  <%= text_field_tag :colum %>
  <%= text_field_tag :value %>
  <%= submit_tag 'Buscar' %>
<% end %>

<div class="pagination">
  <%= paginate resources %>
</div>

<%= render 'index' %>

