<div class="actions">
  <%= link_to '+ Añadir anuncio', new_admin_notice_path %>
</div>

<%= admin_title resource_class, 'Anuncios' %>

<div class="pagination">
  <%= paginate collection %>
</div>

<ul id="notices">
  <% collection.each do |notice| %>
  <li class="<%= notice.level %>">
    <%= link_to 'Editar', [:edit, :admin, notice], class: 'action' %>
    <p><%= raw notice.body %></p>
  </li>
  <% end %>
</ul>

