<%= simple_form_for [:admin, @media_bite] do |form| %>
    <%= form.input :title %>
    <%= form.input :url %>
    <%= form.input :file %>
    <%= form.input :content_type, include_blank: false, collection:
            tc('media_bite.content_types', MediaBite::CONTENT_TYPES) %>
    <div class="actions">
      <%= form.submit class: 'btn primary' %>
    </div>
<% end %>
