<div class="intro list">
  <h2><a href="/"><%= current_camp.name %></a></h2>

  <div class="twitter">
    <iframe allowtransparency="true" frameborder="0" scrolling="no"
            src="http://platform.twitter.com/widgets/tweet_button.html?url=<%= root_url %>&text=%23<%= current_camp.name %> <%= current_camp.line2 %>"
            style="width:130px; height:50px;"></iframe>
  </div>

  <div class="search">
    <%= text_field_tag :q %><%= search_button_link_to 'Buscar'.html_safe, '#', :rel => :no_follow %>
    <p id="search-error" class="error">&nbsp;</p>
  </div>

  <h2><%= current_camp.line1 %></h2>
  <h2><%= current_camp.line2 %></h2>

  <p class="credits">
    <%= current_camp.name %> surge a partir
    de <%= link_to 'Entorno de posibilidades', 'http://entornodeposibilidades.blogspot.com/2011/05/bookcamp-si-no-quieres-ser-como-ellos.html' if current_camp.id == 1 %>
    <br/>
    Es <%= link_to 'código libre', 'https://github.com/recortable/Bookcamp' %>, colabora!

  </p>

  <!--a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-text="#bookcamping" data-lang="es" data-counturl="http://bookcamp.ccc">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script-->
</div>