<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> :: Admin <%= current_camp.name %> </title>
  <link rel="Shortcut Icon" href="/images/ui3/<%= current_camp.name %>-mini.ico" type="image/x-icon"/>

  <link href='http://fonts.googleapis.com/css?family=Kreon:light,bold&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cousine&v1' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "admin" %>
  <!--link href="/iconic.css" media="screen" rel="stylesheet" type="text/css"/-->
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <div id="flash">
    <%= content_tag :span, flash[:notice], :class => 'notice' if flash[:notice].present? %>&nbsp;
  </div>


  <div id="session">
    <div class="user">
      <strong><%= "##{current_camp.name} admin" %></strong> >
      <%= link_to "actividad", admin_versions_path %> |
      <%= link_to "listas", admin_camp_shelves_path %> |
      <%= link_to 'comisariadas', admin_curated_shelves_path %> |
      <%= link_to 'blog', admin_posts_path %> |
      <%= link_to 'media', admin_media_bites_path %>
      <%= link_to 'noticias', admin_notices_path %> |
    </div>
    <div class="search">
      <%= form_tag '/buscar' do %>
          <%= text_field_tag :term %>
          <%= submit_tag 'BUSCAR' %>
      <% end %>
    </div>
  </div>

  <div id="go-camping">
    <% if current_camp.name == 'bookcamping' %>
        <%= link_to 'videocamping', 'http://videocamping.cc', :class => 'go-videocamping' %>
    <% else %>
        <%= link_to 'bookcamping', 'http://bookcamping.cc', :class => 'go-bookcamping' %>
    <% end %>
  </div>
  <div id="header">
    <a href="/">
      <h1 id="logo" class="logo-<%= current_camp.name %>"><%= current_camp.name %></h1>
    </a>
  </div>
  <div id="main">
    <div class="container">
      <div id="center">
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>

    </div>
  </div>
</div>

<%= render 'layouts/js' %>
<%= render 'layouts/ga' %>

<div style="display:none">GoCamping 2011/06/15</div>
</body>
</html>
