<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> <%= current_camp.name %> </title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="session">
  <% if current_user %>
      Hola <%= current_user.name %>!
      <%= link_to "Salir", signout_path %>
      <% if current_user.super? %>
          <%= link_to '@', users_path %>
          <%= link_to 'V', versions_path if current_user.super? %>
          <%= link_to current_camp.subdomain, [:edit, current_camp] if current_user.super? %>
      <% end %>
  <% else %>
      <span class="notice">Para colaborar tienes que identificarte &rArr;</span>
      <%= link_to "Entrar con Twitter", "/auth/twitter" %>
  <% end %>
</div>
<div id="navigation">
  <%= link_to 'retícula', browse_path %> /
  <%= link_to 'listas', shelves_path %> /
  <%= link_to 'actividad', versions_path %> /
  <%= link_to 'colaboradorxs', users_path %>
</div>
<div id="messages">
  <%= content_tag :p, flash[:notice], :class => 'flash' if flash[:notice].present? %>
</div>
<div id="main">
  <%= yield %>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11032039-5']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
