<!DOCTYPE html>
<html>
<head>
  <title>Bookcamp</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="session">
  <% if current_user %>
      Hola <%= current_user.name %>!
      <%= link_to "Salir", signout_path %>
  <% else %>
      <%= link_to "Entrar con Twitter", "/auth/twitter" %>
  <% end %>
</div>
<div id="main">
  <%= yield %>
</div>
</body>
</html>
