<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> <%= current_camp.name %> </title>
  <%= stylesheet_link_tag "application" %>
  <!--link href="/iconic.css" media="screen" rel="stylesheet" type="text/css"/-->
  <%= csrf_meta_tags %>
</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.js">\x3C/script>')</script>
<%= javascript_include_tag "application" %>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

<div id="main">
  <div id="top">
    <div id="search">
      <%= text_field_tag :q %><%= search_button_link_to 'Buscar'.html_safe, '#', :rel => :no_follow %>
      <p id="search-error" class="error">&nbsp;</p>
    </div>
    <div id="links">
      <%= link_to '#bookcamping', 'http://bookcamping.cc' %>
      <%= link_to '#videocamping', 'http://videocamping.cc' %>
    </div>
  <div id="session">
    <% if current_user %>
        <%= content_tag(:div, current_user.id, :id => 'user-id', :style => 'display:none;') %>
        Eres <%= link_to current_user.name, current_user %>.
    <% else %>
        Entrar con: <%= link_to "Twitter", "/auth/twitter" %>
        <%= link_to "Google", "/auth/google" %>
        <%= link_to "Facebook", "/auth/facebook" %>
    <% end %>
    <%= content_tag :span, "&lArr; #{flash[:notice]}".html_safe, :class => 'notice' if flash[:notice].present? %>
  </div>
  </div>
  <div id="banner" class="container">

    <h1><a href="/"><%= current_camp.name %></a></h1>
    <div class="social">
      <div class="twitter">
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="http://platform.twitter.com/widgets/tweet_button.html?url=<%= root_url %>&text=%23<%= current_camp.name %> <%= current_camp.line2 %>"
                style="width:130px; height:50px;"></iframe>
      </div>
    </div>
    <h2><%= current_camp.line1 %></h2>

    <h2><%= current_camp.line2 %></h2>
  </div>
  <div id="content" class="container">
    <div class="sidebar_column">
      <div class="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
    <div class="main_column">
      <div class="main">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11032039-5']);
    _gaq.push(['_setDomainName', '.bookcamp.cc']);
    _gaq.push(['_setAllowHash', 'false']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
