<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> <%= current_camp.name %> </title>
  <%= stylesheet_link_tag "application" %>
  <link href="/iconic.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="session">
  <% if current_user %>
      <%= content_tag(:div, current_user.id, :id => 'user-id', :style => 'display:none;') %>
      Hola <%= current_user.name %>!
      <%= link_to "Salir", signout_path %>
      <% if current_user.super? %>
          <%= link_to current_camp.subdomain, [:edit, current_camp] if current_user.super? %>
      <% end %>
  <% else %>
      <span class="notice">Para colaborar tienes que identificarte &rArr;</span>
      Entrar con: <%= link_to "Twitter", "/auth/twitter" %> <%= link_to "Google", "/auth/google" %>
  <% end %>
</div>
<div id="navigation">
  <%= link_to '#bookcamping', 'http://bookcamp.cc' %> |
  <%= link_to '#videocamping', 'http://video.bookcamp.cc' %> |
  <%= link_to 'retícula', browse_path %> /
  <%= link_to 'estadísticas', statistics_path %> /
  <%= link_to 'listas', shelves_path %> /
  <%= link_to 'actividad', versions_path %> /
  <%= link_to 'colaboradorxs', users_path %>
</div>
<div id="messages">
  <%= content_tag :p, "&rArr; #{flash[:notice]}".html_safe, :class => 'flash' if flash[:notice].present? %>
</div>
<div id="main">
  <%= yield %>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11032039-5']);
  _gaq.push(['_setDomainName', '.bookcamp.cc']);
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
