<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> :: <%= current_camp.name %> </title>
    <link rel="Shortcut Icon" href="/images/ui3/<%= current_camp.name %>-mini.ico" type="image/x-icon"/>

    <link href='http://fonts.googleapis.com/css?family=Kreon:light,bold&v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cousine&v1' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag :atom, posts_path(format: :atom) %>
    <%= auto_discovery_link_tag :rss, posts_path(format: :rss) %>
  </head>
  <%= render 'layouts/ga' %>
  <body>
    <div id="page">
      <!-- a id="feedback" href="javascript:UserVoice.showPopupWidget();">Buzón de sugerencias</a-->
      <div id="notices">

      </div>
      <div id="flash">
        <%= content_tag :span, flash[:notice], :class => 'notice' if flash[:notice].present? %>&nbsp;
      </div>


      <div id="session">
        <div class="user">
          <% if current_user %>
            <%= content_tag(:div, current_user.id, :id => 'user-id', :style => 'display:none;') %>
            <%= link_to "¡Hola #{current_user.name}!", current_user, rel: 'current-user' %>
            <%= link_to 'Estanterías', camp_shelves_path %> /
            <%= link_to 'Salir', logout_path %>
          <% else %>
            <%= link_to 'Estanterías', camp_shelves_path %> /
            <%= link_to 'Entrar', login_path(from: request.fullpath), rel: 'nofollow' %>
          <% end %>
        </div>
        <div class="tabs">
          <%= link_to 'Como', '/como', class: 'como' %>
          <%= link_to 'Visitas guiadas', '/visitas', class: 'visitas' %>
          <%= link_to 'Blog', posts_path, class: 'blog' %>
        </div>
        <div class="search">
          <%= form_tag '/buscar' do %>
            <%= text_field_tag :term %>
            <%= submit_tag 'BUSCAR' %>
          <% end %>
        </div>
      </div>

      <div id="go-camping">
        <% if current_camp.name == 'bookcamping' %>
          <%= link_to 'videocamping', 'http://videocamping.cc', :class => 'go-videocamping' %>
          <p class="go-bookcamping">bookcamping</p>
        <% else %>
          <p class="go-videocamping">videocamping</p>
          <%= link_to 'bookcamping', 'http://bookcamping.cc', :class => 'go-bookcamping' %>
        <% end %>
      </div>
      <div id="header">
        <% if current_publisher %>
          <a href="/" class="publisher">
            <img src="<%= "/images/#{current_publisher}/#{current_publisher}.jpg" %>" width="1025" height="140" />
          </a>
        <% else %>
          <a href="/">
            <h1 id="logo" class="logo-<%= current_camp.name %>"><%= current_camp.name %></h1>
          </a>
        <% end %>
      </div>
      <div id="main">
        <% if false and current_publisher %>
          <%= yield %>
        <% else %>
          <div class="container">
            <div id="center">
              <%= yield %>
            </div>
            <div id="sidebar">
              <%= yield :sidebar %>
              <div id="sidebar_extra">
                <div id="goteo" name="goteo">
                  <iframe frameborder="0" height="480px" src="http://www.goteo.org/widget/project/bookcamping?lang=es" width="250px" scrolling="no"></iframe>
                </div>
                <% if current_camp.id == 1 %>
                  <%= link_to 'Mapa bookcamping', '/mapa', id: 'go-map' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div id="footer">
        <div class="bar">
          <%= link_to 'Agradecimientos enormes', '/agradecimientos' %> |
          <%= link_to 'Contactar', '/contactar' %> |
          <%= link_to 'Sobre nosotras', '/nosotras' %>
          <%= link_to posts_path(format: :atom), class: 'rss' do %>
            <%= image_tag 'icono_rss.png' %>
            Suscripción al blog
          <% end %>
        </div>
        <div class="end">
          <%= link_to 'Colofon', '/colofon', class: 'colofon' %>
          <div class="license">
            <%= image_tag 'licencia_bookcamping.png', alt: 'licencia' %>
            <p>Esta web y todo el material generado por el proyecto #bookcamping
            está bajo una licencia Creative Commons Reconocimiento - Compartir Igual (by-sa)</p>
          </div>
        </div>

      </div>
      <%= render 'layouts/js' %>
      <div style="display:none">(cc) Bookcamping 0.5.1 - 9 Diciembre 2012</div>
    </body>
  </html>
